.axis .domain {
	opacity: 0;
}

.axisX{
	opacity: 0.3;
	transition: opacity 1000ms;
}

.axisX.normal{
	opacity:1;
	transition: opacity 1000ms;
}

.axisY{
	opacity: 0.2;
	transition: opacity 1000ms;
}

.axisY.normal{
	opacity:1;
	transition: opacity 1000ms;
}

.txLabel{
	fill: #242424;
}