.axis .domain {
	opacity: 0;
}

// .axis-x .tick{
// 	opacity: 0.1;
// }

// .axis-y .tick{
// 	opacity: 0.2;
// }


.test{
	opacity: 0.1;
	transition: opacity 1000ms;
}

.test.normal{
	opacity:1;
	transition: opacity 1000ms;
}

.test2{
	stroke-width: 5px;
}