// Base css
@import "base/clear.scss";

// Dependencies
@import "dependencies/bootstrap";

// ------- Project ------- //
@import "base/typography.scss";
@import "variables";
// Sections
@import "sections/header.scss";
@import "sections/footer.scss";
@import "sections/d3.scss";


/* Layout */
html,body{
	height:100%;
	background:rgb(255,252,248);
	font-family:'Roboto Condensed',sans-serif;
}
body .viz-container{
	width:100%;
	height:100%;
	overflow:hidden;
	position:fixed;
	z-index:0;
}

.fixed{
	position: absolute;
	bottom: 0;

	h3{
		margin-bottom-bottom: 50;
	}
}


.texted{
	position: fixed;
	left: 80px;
	top: 100px;
}

.intro{
	margin-top: 30px;
	margin-left: 80px;

	h1{
		font-size: 50px;
	}
}

.overview {
	margin-top: 60px;
	margin-left: 80px;

	h2{
		color: #B11623;
	}
}

.viz-container .canvas{
	width:100%;
	height:100%;
	overflow:hidden;
	// background:red;
	z-index:1;
}

.scroll{
	position: relative;

	h3{
		position: absolute;
		bottom:0;

	}
}

/* scroll-related */
.animation-timeline{
	height:100%;
	position:relative;
}
	.animation-timeline .scene{
		height:100%;
		width:100%;
	}
		.scene .scene-commentary{
			width:300px;
			z-index:9999;
			padding: 20px 15px;
			color:white;
		}

