// Base css
@import "base/clear.scss";

// Dependencies
@import "dependencies/bootstrap";

// ------- Project ------- //
@import "base/typography.scss";
@import "variables";
// Sections
@import "sections/header.scss";
@import "sections/footer.scss";


/* Layout */
html,body{
	height:100%;
	background:rgb(255,252,248);
	font-family:'Roboto Condensed',sans-serif;
}
body .viz-container{
	width:100%;
	height:100%;
	overflow:hidden;
	position:fixed;
	z-index:0;
	// background-color: #1E1E1E;
}
.viz-container .canvas{
	width:100%;
	height:100%;
	overflow:hidden;
	// background:red;
	z-index:1;
}

/* scroll-related */
.animation-timeline{
	height:100%;
	position:relative;
}
	.animation-timeline .scene{
		height:100%;
		width:100%;
	}
		.scene .scene-commentary{
			width:300px;
			z-index:9999;
			padding: 20px 15px;
			color:white;
		}

