// Base css
@import "base/clear.scss";

// Dependencies
@import "dependencies/bootstrap";

// ------- Project ------- //
@import "base/typography.scss";
@import "variables";
// Sections
@import "sections/header.scss";
@import "sections/footer.scss";


/* Layout */
html,body{
	height:100%;
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
}

main { padding: 200px 0 1500px 0; overflow: hidden; }

body .viz-container{
	width:100%;
	height:100%;
	overflow:hidden;
	position:fixed;
	z-index:0;
}
.viz-container .canvas{
	width:100%;
	height:80%;
	overflow:hidden;
	// background:red;
	z-index:1;
}

// .canvas{
//     width:100%;
//     min-height:600px;
// }

.animation-timeline{
	height:100%;
	position:relative;
}
	.animation-timeline .scene{
		height:100%;
		width:100%;
	}
		.scene .scene-commentary{
			width:300px;
			z-index:9999;
			padding: 20px 15px;
			color:white;
		}